#fix{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    left: 160px;
    top: 300px;
}


#mov{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 255, 55);
    left: 320px;
    top: 300px;
}
