#fix{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    left: 160px;
    top: 300px;
    border-radius: 50%;
}
#digital{
    color: red;
}
#Ah,#Am{
    color: red;
}

#sec{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 0, 0,0.6);
    left: 320px;
    top: 300px;
    font-size: 40px;
}
#min{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: blue;
    left: 280px;
    top: 300px;
    font-size: 40px;
}
#hour{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color:yellow;
    left: 240px;
    top: 300px;
    font-size: 40px;
}
#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10,#a11,#a12{
    position: absolute;
    font-size: 40px;
    background-color: aqua;
    color: brown;
    border-radius: 50%;
    z-index: -1;
}
#pro,#pro1{
    position: relative;
    font-size: 30px;
    left: 20px;
}
#greetings{
    position: absolute;
    bottom:15px;
    left:30px;
    color: red;
    font-size: 40px;
}