#gun{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    left: 560px;
    top: 300px;
}

#tgt{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: blue;
    left: 860px;
    top: 400px;
}