#dice{
    width: 300px;
    height: 300px;
    /* background-color: rgb(252, 123, 2); */
    background-size: 20 30;
    background-image: url("1.png");
    background-repeat: no-repeat;
}
#dice1{
    width: 100px;
    height: 100px;
}
#snake_img{
    width:900px;
    height: 900px;
}
#P1{
    display: inline;
    padding-left: 25px;
}
#P2{
    padding-left: 25px;
    display: inline;
}