#box{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 570px;
    left: 170px;
    background-color: red;
    z-index: 3;
}
#target{
    position: absolute;
    top: 400px;
    left: 250px;
    width: 30px;
    height: 30px;
    background-color: black;
}
#size{
    width: 350px;
    height: 600px;
    background-color: orange;
}
#gun{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 570px;
    left: 170px;
    background-color: yellow;
}
#start{
    position: absolute;
    bottom: 10px;
    left: 10px;
}