#image{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    right: 50px;
    display: none;
}
#location{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 200px;
    right: 5px;
    color: green;
}