#na{
    background-color: red;
}
#container{
    background-color: rgb(204, 84, 84);
}
#ftr{
    background-color: rgb(243, 168, 168);

}



/* nav{
    background-color: green;
}
div{
    background-color:rgb(113, 226, 113);
}
footer{
    background-color: rgb(175, 228, 175);
} */