#ipt{
    position: fixed;
    bottom: 5px;
    left: 0px;
}
#btn{
position: fixed;
bottom: 5px;
left: 190px;
}
p{
    font-size: 25px;
    
}
#btn2{
    position: fixed;
    bottom: 5px;
    left: 250px;
    }

#btn3{
    position: fixed;
    bottom: 5px;
    left: 300px;
    }

#local_device{
    position: fixed;
    bottom: 30px;
    left :0px;
    width:80px;
}

#remote_device{
    position: fixed;
    bottom: 30px;
    left:100px;
    width:80px;
}

#btn4{
    position: fixed;
    bottom: 30px;
    left:200px;
}