#bdy{
    width: 360px;
    height: 480px;
    background-color:rgb(141, 31, 31);
}
#diano{
    position: relative;
    width: 30px;
    height: 30px;
    left: 55px;
    top: 450px;
    background-color:black;
}
#obstacle{
    position: relative;
    width: 30px;
    height: 30px;
    left: 300px;
    top: 420px;
    background-color:yellow;
}
#btn{
    position: absolute;
    bottom: 10px;
}
